@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="MyCustomTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1" Color="Color.Inherit">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudImage Src="Images/Logo.jpeg" Width="50" Class="rounded-lg" />
        <MudText Typo="Typo.h5" Class="ml-3">Hunt, Hook, & Cook</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Person" Edge="Edge.End" />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
        <MudSwitch @bind-Value="_isDarkMode" Class="ma-4" T="bool" Label="Dark Mode" />
    </MudDrawer>
    <MudMainContent Class="mt-16 pa-4">
        @Body
        <CascadingValue Value="_isDarkMode">
            <Footer />
        </CascadingValue>
    </MudMainContent>


</MudLayout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool _drawerOpen = true;
    private bool _isDarkMode;
    private MudTheme _theme = new();
    MudTheme MyCustomTheme = new MudTheme()
        {
            PaletteLight = new PaletteLight()
            {
                Primary = Colors.Green.Darken2,
                //Primary = Colors.LightGreen.Darken2,
                Secondary = Colors.Cyan.Darken2,
                
                AppbarBackground = Colors.Green.Darken2, 
                AppbarText = Colors.Gray.Lighten3
            },
            PaletteDark = new PaletteDark()
            {
                Primary = Colors.LightGreen.Darken2,
                Secondary = Colors.Cyan.Darken2,
                AppbarBackground = Colors.Cyan.Darken1,
                AppbarText = Colors.Gray.Lighten3
            },

            LayoutProperties = new LayoutProperties()
            {
                DrawerWidthLeft = "260px",
                DrawerWidthRight = "300px"
            }
        };
    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

}


