@page "/recipes"

<h3>Recipes</h3>
<MudContainer Class="mt-8 px-4" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%;">
                <MudImage Src="images/venison.jpg" Alt="Venison" Elevation="25" Class="rounded-lg" />
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%">
                <MudImage Src="images/fish.jpg" Alt="Fish" Elevation="25" Class="rounded-lg" />
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%;">
                <MudImage Src="images/bison.jpg" Alt="Bison" Elevation="25" Class="rounded-lg" />
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%">
                <MudImage Src="images/hog.jpg" Alt="Hog" Elevation="25" Class="rounded-lg" />
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%;">
                <MudImage Src="images/bobcat.jpg" Alt="Bobcat" Elevation="25" Class="rounded-lg" />
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%;">
                <MudImage Src="images/duck.jpg" Alt="Duck" Elevation="25" Class="rounded-lg" />
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {

}
